@using OnlineExam.Client.Properties
@model OnlineExam.Models.Accounting.Login
@{
    ViewBag.Title = "ورود";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-md-4  col-md-offset-4 margin-top-20">
        <p class="text-center text-success">ورود</p>
        <hr/>
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "large-form-control ltr" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "large-form-control ltr" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-md-12">
                    <img class="captcha-image" src="@Url.Action("CaptchaImage", "Home", routeValues: new{ rdnDate = DateTime.Now.Ticks })" />
                    <a href="#" class="refresh-captcha">تازه سازی</a>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.CaptchaInputText, htmlAttributes: new { @class = "a" })
                    @Html.EditorFor(model => model.CaptchaInputText, new { htmlAttributes = new { @class = "large-form-control ltr"} })
                    @Html.ValidationMessageFor(model => model.CaptchaInputText, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.ActionLink(WebResource.AreYouForgetPassword,"","",null,new {@class=""})
                    @*@Html.ActionLink("", "", "", null, new { @class = "" })*@


                </div>
            </div>

        </div>
        <hr/>
        <button type="submit" class="btn btn-primary dark-blue"> @WebResource.Send</button>

    </div>
}
@section Scripts{
    <script type="text/javascript">
       
    </script>
}





